body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

/* header style */

.header {
    height: 100vh;
    width: 100%;
    background-image: url(../img/apples.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.header-title, 
.header-menu {
    display: inline-block;
    margin: 50px;
}

.header-menu {
    float: right;
    padding-right: 70px;
}

.menu-list {
    list-style: none;
    width: 30vw;
    display: flex;
    justify-content: space-around;
}

.menu-list li{
    display: inline-block;
    vertical-align: top;
}

.header a {
    color: white;
    text-decoration: none;
}

.header a:hover {
    color: black;
}

.banner-text {
    margin-top: 200px;
}

.banner-title {
    font-size: 50px;
    margin-bottom: 0px;
    text-align: center;
}

.ampersand-symbol {
    font-size: 80px;
    font-weight: bold;
    letter-spacing: 10px;
}

.banner-definition {
    text-align: center;
}

.banner-button {
    margin-top: 150px;
    margin-left: calc(50vw - 100px);
    width: 200px;
    height: 50px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid white;
}

/* main content style*/

.main {
    width: 100vw;
    padding-bottom: 50px;
}

.mid-section {
    padding-top: 100px;
    height: 20vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
}

.mid-section-left-text {
    font-size: 20px;
    width: 30vw;
}

.mid-section-right-text {
    font-size: 15px;
    width: 40vw;
}

.featured-articles-content {
    padding: 50px 0px;
    width: 100vw;
    background-color: rgb(246, 246, 246);
}

.featured-articles-title {
    margin-bottom: 100px;
    font-size: 20px;
    width: 100vw;
    text-align: center;
}

.row-article-content {
    min-height: 40vh;
    padding: 0 50px;
    text-align: center;
    /* display: flex;
    justify-content: center; */
}

.row-article-content img {
    height: 300px;
}

.row-article-content p {
    padding: 0 50px;
    height: 300px;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 1150px)  {
    .row-article-content {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .row-article-content p {
        height: 200px;
    }
}

.subscription-field {
    margin: 0px 50px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.subscription-field p {
    font-size: 20px;
    margin: 0 5px;
    /* height: 10px; */
}

/* .subscription-field p,
.subscription-field input,
.subscription-field button{
     display: inline-block; 
    margin: 0 20px;
} */

[type="email"] {
    height: 20px;
    width: 50vw;
    padding: 10px;
    background-color: rgb(246, 246, 246);
}
 
.footer [type="email"] {
    width: 15vw;
}

button {
    height: 44px;
    width: 120px;
    background-color: rgb(49, 48, 48);
    color: white;
}

button:hover {
    background-color: grey;
}



.footer {
    height: 35vh;
    width: 90vw;
    margin: auto;
}

.footer-section {
    width: 90vw;
    display: flex;
    justify-content: space-around;
}

.footer-section div{
    width: 20vw;
}

.footer-subscription {
    display: flex;
    justify-content: center;
}

.faded-text {
    opacity: .3;
}

hr {
    opacity: .4;
}

.footer-menu .header-menu {
    margin: 0px;
}

.footer-menu p,
.footer-menu nav{
    display: inline;
}

.footer-menu .header-menu a{
    text-decoration: none;
    color: black;
}

.menu-list {
    margin: 0;
}


