body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.root {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 40vw;
    height: 50vh;
    border: 1px solid lightgrey;
    border-radius: 10px;
    padding: 10px;
}

.screen {
    width: 100%;
    height: 80%;
}

.input {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.input textarea {
    width: 500px;
    border: none;
    border-bottom: 1px solid lightpink;
    padding: 10px;
    margin: 0px 10px;
}

.input textarea:focus {
    border: 3px solid lightpink;
}

button {
    display: inline;
    width: 80px;
    height: 50px;
    background-color: rgb(240, 196, 196);
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: bolder;
    margin: 2px;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    transition: all .2s ease-in-out;
}
button:hover {
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
}
button:active {
    box-shadow: 0px 5px 18px 2px rgba(34, 60, 80, 0.2) inset;
}

.screen {
    display: flex;
}

.incoming, 
.outgoing {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.incoming {
    justify-content: flex-start;
}

.outgoing {
    justify-content: flex-end;
    align-items: flex-end;
}

.msg {
    width: 100px;
    min-height: 70px;
    border-radius: 20px;
    padding: 10px;
    margin: 5px 0px;
}

.incoming .msg {
    background-color: rgb(245, 232, 177);
}

.outgoing .msg {
    background-color: rgb(221, 237, 238);
}

.username,
.time {
    font-size: 12px;
    color: grey;
}

.time {
    text-align: end;
}