﻿* {
  outline: none;
}

body {
  font-family: 'Ubuntu', sans-serif;
}
/* Your code goes here */

@media screen {
  html {
    scroll-behavior: smooth;
  }
}

section {
  width: 100%;
  box-sizing: border-box;
  padding: 50px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.line {
  height: 1px;
  width: 40px;
  border: 1px solid grey;
}

/* main section styles */

.header {
  background-image: url(../img/header-bg.jpg);
  background-position: center;
  background-size: cover;
  color: white;
  padding: 50px;
}

.header a{
  color: white;
}

.header a:hover{
  color: grey;
}

.header a:active{
  color: violet;
}

.header h1 {
  font-size: 4rem;
}

.header .container {
  height: 80vh;
}

/* services section style */ 

.service-cards {
  display: flex;
  justify-content: center;
  margin: 50px 0px;
}

.services .card {
  width: 300px;
  align-items: center;
}

.services .card .card-title{
  text-align: center;
}

.services .card-img-top {
  width: 150px;
}

.services-btn {
  width: 200px;
  height: 50px;
  color: white;
  border-radius: 50px;
  background-image: url(../img/touch-bg.png);
  background-position: center;
  background-size: cover;
}

/* works section style */

.works {
  background-color: lightgrey;
}

.works-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 340px;
  margin: 50px 0px;
}

.works-wrapper img{
  width: 300px;
  margin: 20px;
}

.work-img-1 {
  grid-column-start: 1;
}

.work-img-2 {
  grid-column-start: 2;
}

.work-img-3 {
  grid-column-start: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.work-img-4 {
  grid-column-start: 1;
  grid-row-start: 2;
}

.work-img-5 {
  grid-column-start: 1;
  grid-row-start: 3;
}

.work-img-6 {
  grid-column-start: 2;
  grid-row-start: 2;
}

.work-img-7 {
  grid-column-start: 3;
  grid-row-start: 3;
}

/* reference section style */

.reference .container {
  width: 1300px;
}

.reference-slider, 
.slider-content {
  height: 400px;
  display: flex;
  justify-content: center;
  margin: 50px;
}

.slider-main-img {
  position: sticky;
  width: 300px;
  z-index: 10;
}

.slider-bg-img {
  position: relative;
  top: -170px;
  left: -30px;
  width: 200px;
  z-index: 1;
}

.slider-text {
  margin: 30px;
}

.arrow {
  display: flex;
  align-items: center;
}

.slider-controls {
  display: flex;

}

.slider-indicator {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgb(83, 65, 92);
  margin: 3px;
}

.current{
  background-color: rgb(189, 181, 194);
}

/* contact section style */ 

.contact {
  background-color: black;
  color: white;
}

.form {
  width: 60vw;
  margin: 50px 0px;
}

.form input {
  background-color: transparent;
  color: white;
  border: none;
  border-bottom: 3px solid white;
  box-sizing: border-box;
  padding: 20px;
  margin: 5px;
}

.form-btn {
  width: 150px;
  height: 50px;
  background-color: rgb(37, 37, 37);
  color: white;
}

/* footer style */

.footer {
  height: 200px;
  width: 100%;
  background-image: url(../img/footer-bg.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  color: white;
}

.footer .address p{
  margin-bottom: 0px;
}

.footer .row {
  margin: 15px;
}

.footer .contacts img {
  margin-right: 20px;
}

.footer-content {
  width: 100%;
  height: 80%;
  display: flex;
}

.footer .socials {
  display: flex;
  justify-content: space-between;
}

.rights-text {
  text-align: end;
  font-size: 10px;
}
