/*
* Colors used in design.
*   primary: #2bc7e1;
*   dark: #0395d3;
*   light: #fff;
*/
html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
}

section {
  padding-top: 25px;
}

h2 {
  margin-bottom: 0px;
}

/* header style */

.header {
  position: fixed;
  width: 100vw;
  height: 55px;
  padding-left: 100px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}

.header-menu {
  padding-right: 200px;
}

.menu-list {
  list-style: none;
  width: 30vw;
  display: flex;
  justify-content: space-around;
}

[alt="logo"] {
  width: 30px;
  height: 30px;
  padding-top: 15px;
}

.menu-list li{
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}

.menu-list a {
  color: black;
  text-decoration: none;
}

.header a:hover {
  color: #2bc7e1;
}

@media screen and (max-width: 1280px) {
  .header {
    padding-left: 20px;
  }
  .header-menu {
    padding-right: 90px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    height: auto;
    flex-direction: column;
    align-items: center;
    padding: 0px;
  }
  .header-menu {
    display: flex;
    justify-content: center;
    padding: 0px;
  }
  [alt="logo"] {
    padding-top: 30px;
  }
}

/* main section style */

.main-section {
  width: 100vw;
  height: 100vh;
  background-image: url(../img/header_bg.jpg);
  background-size: cover;
  background-position: center;
}

.main-section-text {
  margin-left: 100px;
  width: 40vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 650px) {
  .main-section {
    height: 70vh;
    background-image: unset;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main-section-text {
    width: 60vw;
    margin-left: 0px;
  }
  .main-section-text h2 {
    font-size: 40px;
  }
  .med-icons {
    display: flex;
    justify-content: space-evenly;
  }
  .med-icon {
    margin: auto;
  }
}

.med-icon {
  width: 50px;
  height: 50px;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2bc7e1;
  color: #fff;
  border: 3px solid #fff;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  margin-right: 30px;
}


.med-icon:hover {
  background-color: #fff;
  color: #2bc7e1;
  border: 3px solid #2bc7e1;
}

.svg-inline--fa {
  width: 30px;
}


/* about section style */

.about-section {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-section-block {
  width: 50%;
}

.about-section-text {
  margin-right: 30px;
}

.sm-blue-title,
.arrow {
  color: #2bc7e1;
  margin-right: 15px;
}

@media screen and (max-width: 768px) {
  .about-section {
    width: 90%;
    height: auto;
    text-align: center;
    flex-direction: column;
    margin: auto;
    margin-bottom: 50px;
  }
  .about-section-block-img {
    width: 90%;
    margin: auto;
  }
  .about-section-text {
    width: 100%;
    margin: 0px;
  }
}

/* services section styles */

.services-section {
  width: 100vw;
  background-image: url(../img/services_bg.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services-block-container {
  width: 85vw;
  max-width: 1375px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.service-block {
  width: 290px;
  height: 190px;
  background-color: #fff;
  margin: 10px;
  padding: 25px;
}

@media screen and (max-width: 850px) {
  .service-block {
    width: 145px;
    height: 215px;
  }
}

@media screen and (max-width: 500px) {
  .service-block {
    width: auto;
    height: auto;
  }
}

.service-block-text {
  font-size: 12px;
}

/* prices section styles */

.prices-section {
  width: 100vw;
  background-image: url(../img/pricing_bg.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.prices-block-container {
  min-width: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 900px) {
  .prices-block-container { 
    min-width: 100vw;
  }
}

.prices-block {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.prices-secondary {
  height: 540px;
  background-color: #2bc7e1;
  color: #fff;
}

.prices-primary {
  height: 590px;
  background-color: #fff;
  border: 1px solid #0395d3;
  color: #0395d3;
}

@media screen and (max-width: 600px) {
  .prices-block-container {
    flex-direction: column;
  }
  .prices-block {
    width: 70%;
    margin-top: 10px
  }
}

.prices-block button {
  width: 80px;
  height: 30px;
  background-color: #fff;
  border: 1px solid #0395d3;
  border-radius: 10px;
  color: #0395d3;
}

.prices-block button:hover {
  background-color: #2bc7e1;
  color: #fff;
  border-color: #fff;
}

.price {
  font-size: 50px;
  font-weight: bold;
  margin: 10px;
}


/* contact section styles */

.contact-section {
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.contact-section-block {
  width: 50%;
  height: 100%;
}

.contact-section-form {
  padding: 0px 50px;
}

@media screen and (max-width: 500px) {
  .contact-section {
    flex-direction: column;
  }
  .contact-section-block {
    width: 90%;
    text-align: center;
  }
}
.contact-section-form input {
  width: 100%;
  border: none;
  border-bottom: 1px solid lightgrey;
  margin: 10px 0px;
}

::-webkit-input-placeholder {
  font-style: italic;
}

.contact-section-form button {
  width: 80px;
  height: 40px;
  background-color: #2bc7e1;
  border: 1px solid #fff;
  border-radius: 10px;
  color: #fff;
  margin: 50px;
}

.contact-section-form button:hover {
  background-color: #fff;
  color: #2bc7e1;
  border: 1px solid #2bc7e1;
}


/* footer section styles */

.footer {
  width: 100vw;
  height: 40px;
  background-color: #363636;
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}