/* Your code goes here */

.form-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.form {
    width: 50vw;
    visibility: hidden;
}

label,
input {
    display: block;
}

form ul {
    list-style-type: none;
    padding: 0 10px 0 10px;
}

li:last-of-type {
    margin-top: 50px;
}

form label {
    margin: 10px 0 10px 0;
}

form input {
    height: 35px;
    width: 100%;
    background-color: #43c794;
    border: unset;
    /* padding: 0 20px 0 20px; */
}

form button {
    display: inline;
    width: 200px;
    height: 50px;
    background-color: #4db552;
    border: unset;
    color: white;
    margin: 5px 5px 0 0;
}

form button:hover {
    background-color: teal;
    box-shadow: 0px 5px 10px 6px rgba(34, 60, 80, 0.2);
}