/*Your code goes here*/

.games-section,
.games-section .card,
footer {
    background-color: #343a40;
    color: white;
}

.second-games-section,
.second-games-section .card {
    background-color: #f8f9fa;
}

.btn-warning {
    background-color: coral;
    border-color: transparent;
    color: white;
}