/* write your styles here */
#app-root {
    display: flex; 
    flex-direction: column; 
    align-items: center;
}
.hidden {
    display: none;
}
.header {
    width: 100vw; 
    display: flex; 
    flex-direction: column; 
    align-items: center;
}

.table {
    width: 80vw;
    text-align: center;
    margin: auto;
    margin-top: 50px;
}

table, th, td {
    border-top: 1px solid lightgrey;
    border-collapse: collapse;
    padding: 10px;
}

tr:nth-child(2n) {
    background-color: rgb(245, 245, 245);
}

tr:hover {
    background-color: rgb(224, 224, 224);
}

th {
    background-color: lightblue;
    color:white;
}

.sortInAscend::after{
    content: '\2191';
    color: lime;
}
.sortInDescend::after{
    content: '\2193';
    color: lime;
}
.sortNotApplied::after{
    content: '\2195';
    color: lime;
}

.noQueryChosenMsg {
    margin: auto;
    margin-top: 50px;
}
