body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 18px;
  margin: 0px;
  padding: 0px;
}

/* Your code goes here */

.wrap {
  background-color: rgb(236, 236, 236);
  padding-top: 20px;
}

.container {
  width: 1000px;
  height: auto;
  margin: auto;
}

.section {
  margin: 30px 0;
  line-height: 30px;
  background-color: white;
}

.article {
  box-sizing: border-box;
  padding: 50px 50px;
}

.section-cards-image,
.section-info-image,
.section-plans-image {
  transition: all .5s ease-in-out;
}

.section-cards-image:hover,
.section-info-image:hover,
.section-plans-image:hover {
  transform: scale(1.1);
}

/* first section (cards) styles */

.section-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;  
}

.section-cards > * {
  width: 500px;
}

.section-cards > aside {
  background-color: #76cdd8;
  color: white; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.right-article::after {
  width: 0px;
  height: 0px;
  content: "";
  border: 100px solid transparent;
  border-top: 100px solid #76cdd8;
  border-right: 0px solid transparent;
  position: relative;
  top: -103px;
  left: 81px;
}

.left-article::after {
  width: 0px;
  height: 0px;
  content: "";
  border: 100px solid transparent;
  border-top: 100px solid #76cdd8;
  border-left: 0px solid transparent;
  position: relative;
  top: -213px;
  left: -50px;
}

.right-article:last-of-type:after {
  position: relative;
  top: -183px;
  left: 350px;
}

.main-title {
  font-size: 50px;
}

.article-title-highlighted {
  font-size: 25px;
  color: #76cdd8;
  margin-top: 0;
}

.article-title {
  font-size: 25px;
  margin-top: 0;
}

.plain-text {
  font-size: 15px;
}

.btn-wrap {
  display: flex;
  justify-content: flex-end;
}

.btn {
  height: 40px;
  width: 150px;
  background-color: #019999;
  color: white;
  border: none;
  transition: all .5s ease-in-out; 
}

.btn:hover {
  background-color:rgb(118, 205, 216);
}

.link {
  text-decoration: none;
}

.image-preview {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-image: url(../img/image-04.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.section-cards-image {
  background-image: url(../img/image-01.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* second section (info) styles */

.section-info {
  display: flex;
  height: 500px;
}

.section-info-article {
  flex-basis: 65%;
}

.section-info-image {
  background-image: url(../img/image-02.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex-basis: 35%;
}

/* third section (plans) styles */

.section-plans {
  display: flex;
  /* height: 500px; */
}

.section-plans-image {
  background-image: url(../img/image-03.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex-basis: 33%;
}

.plan-wrap {
  flex-basis: 33%;
  box-sizing: border-box;
  padding: 30px;
}

.plan-card {
  border: 1px solid #019999;
  transition: .2s ease-in-out;
}

.plan-card:hover {
  box-shadow: 0 0 0 0.2rem #24d4d4;
  transform: scaleY(1.02);
}

.plan-advanced {
  transition: .2s ease-in-out;
}

.plan-advanced:hover::after {
  content: "* Special discount";
  padding-left: calc(100%/4);
  text-align: center;
  font-size: 16px;
  color: #24d4d4;
}

.plan-head {
  background-color: #019999;
  color: white;
  text-align: center;
  padding: 20px;
}

.plan-title {
  font-size: 22px;
  margin: 5px;
}

.plan-price {
  font-size: 16px;
  margin: 5px;
}

.plan-content {
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.plan-content .btn:hover {
  background-color: #24d4d4;
}


/* fourth section (application) styles */

.application-head {
  height: 120px;
  background-color: #24d4d4;
  color: white;
  box-sizing: border-box;
  padding: 30px;
}

.application-title {
  width: 800px;
  margin: auto;
}

.form {
  width: 666px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  box-sizing: border-box;
  padding: 50px;
  margin: auto;
  transform: scale(1.2);
}

.form-content {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.form-column {
  flex-basis: 45%;
}

.form-column input:focus,
.form-column select:focus,
.form-column textarea:focus {
  border-color: #24d4d4; 
  box-shadow: 0 0 0 0.2rem #24d4d4;
}

input, 
select,
textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
}

textarea {
  height: 80%;
  max-width: 300px;
}

.footer {
  width: 1000px;
  height: 200px;
  background-color: #019999;
  color: white;
  display: flex;
  justify-content: space-evenly;
  box-sizing: border-box;
  padding-top: 70px;
}

.footer-column:last-of-type p{
  margin-top: 0px;
  line-height: 25px;
}

.footer-copy {
  height: 50px;
  text-align: center;
  background-color: rgb(236, 236, 236);
  padding-top: 25px;
}