/* 

write your code here

*/


.tm-main-nav li:hover{
    background-color: #f5f5f5;
    transition: all 0.5s ease-out;
}

.tm-section-description::first-letter,
.tm-footer::first-letter {
    font-size: 30px;
    color: #87CEFA;
}

.tm-banner {
    border: 30px solid #f5f5f5;
    padding: 0;
}

h2.tm-section-title {
    color: #87CEFA;
}

.flex-item [alt="epam-mexico"] {
    height: 700px;
}

.flex-2-col {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

@media print {
    .tm-banner-text::first-letter {
        font-size: 30px;
        color: #87CEFA;
    }

    .tm-sidebar,
    #about,
    .heading,
    .blocks,
    #ideas,
    section.tm-content-box {
        display: none;
    }

    .flex-2-col {
        justify-content: center;
    }

    .flex-item [alt="epam-mexico"] {
        height: 200px;
    }

    section::before {
        display: none;
    }

    .tm-banner {
        border: none;
    }

    h2.tm-section-title {
        color: blue;
    }
}

.tm-team-description-container p {
    text-indent: 30px;
    max-width: 270px;
    line-height: 200%;
}

.tm-team-description-container p:first-of-type{
    font-style: italic;
}

section:nth-of-type(1) div:nth-child(2) h2{
    color: #87CEFA;
}

.box-bg:hover h2 {
    background-color: #87CEFA;
    color: white !important;
    font-weight: bold;
    transition: all 0.5s ease-out;
}

.tm-sidebar,
.tm-content-header,
section {
    box-shadow: 0px 0px 10px 2px rgba(34, 60, 80, 0.2);
}

.blocks .flex-2-col {
    box-shadow: none;
}

section::before {
    content: "";
    border: 30px solid transparent;
    border-top: 0 solid transparent;
    border-left: 250px solid #87CEFA;
}

.carousel-inner .carousel-item:first-child h2{
    color: gainsboro; 
    letter-spacing: 5px;
}

.box-work {
    padding: 10px;
}

.box-work p {
    font-style: italic;
}

.box-work p::first-letter {
    font-size: 27px;
}

.box-work:nth-child(2n) {
    background-color: #f5f5f5;
}

.heading a {
    color: black;
}

.heading a:hover {
    color: #87CEFA;
    text-decoration: underline;
    text-decoration-style: double;
}

.heading ol li:nth-child(1)::after, 
.heading ol li:nth-child(3)::after {
    content: "New";
    vertical-align: super;
    font-size: smaller;
    color: red;
}

.heading a:visited {
    text-decoration: underline;
}

.mandatory-field::after {
    content: " *";
    color: red;
}

[type="submit"] {
    display: block;
    margin-left: auto;
    height: 50px;
    width: 150px;
    border: 1px solid #87CEFA;
    border-radius: 0;
    color: #87CEFA;
    font-size: 15px;
    background-color: transparent;
}

[type="submit"]:hover {
    background-color: #87CEFA;
    border-color: #57a4d4;
    color: white;
    transition: all 0.5s ease-out;
}