#task1,
#task2,
#task3 {
    width: 100vw;
    margin-top: 30px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* START: Task 1 Styles */

td {
    border: 1px solid black;
    border-collapse: separate;
    width: 200px;
    height: 200px;
    text-align: center;
    font-size: 30px;
}

.yellow {
    background-color: rgb(247, 247, 177);
}
.blue {
    background-color: rgb(212, 212, 255);
}
.green {
    background-color: rgb(189, 250, 189);
}

/* END: Task 1 Styles */

/* START: Task 2 Styles */

.hidden {
    display: none;
}

.notification {
    width: 290px;
    height: 30px;
    color: white;
    padding: 30px;
    margin: 10px;
    border-radius: 5px;
    transition: 1s ease-in;
}

.notification-valid {
    background-color:rgb(82, 146, 82) ;
}

.number-field:valid {
    border-color: rgb(82, 146, 82);
}

.notification-invalid {
    background-color: crimson;
}

.number-field:invalid {
    border-color: crimson;
}


.number-field {
    width: 255px;
    padding: 10px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    margin-right: 10px;
}

.number-field::placeholder {
    font-size: 12px;
}

.send-btn {
    height: 40px;
    width: 60px;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

/* END: Task 2 Styles */

/* START: Task 3 Styles */

.court {
    position: static;
    width: 600px;
    height: 330px;
    background-image: url(assets/court.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.ball {
    left: 280px;
    top: 110px;
    z-index: 10;
    transition: 1s ease-in-out;
}

.ball img {
    width: 40px;
    height: 40px;
}

.position-before-first-click {
    position: relative;
}

.position-after-first-click {
    left: 500px;
    top: 400px;
    position: fixed;
}

.a-team-scoring-zone {
    position: relative;
    left: 30px;
    top: 153px;
    width: 15px;
    height: 15px;
}

.b-team-scoring-zone {
    position: relative;
    left: 553px;
    top: 138px;
    width: 15px;
    height: 15px;
}

.scoreboard {
    width: 600px;
    display: flex;
    justify-content: space-between;
}

.teamAscore::after {
    content: 'Team A score!';
    font-size: 30px;
    color: blue;
}
.teamBscore::after {
    content: 'Team B score!';
    font-size: 30px;
    color: red;
}
/* END: Task 3 Styles */
