body {
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', sans-serif;
}

#root,
.center-aligned {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

#tweetItems {
    width: 300px;
}

ul {
    width: 100%;
}

li {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

li span:first-of-type {
    padding-top: 15px;
}

#addTweet {
    margin: auto;
}

button {
    height: 35px;
    border: none;
    border-radius: 5px;
    background-color: burlywood;
    color: white;
    margin: 5px;
}

button:hover {
    box-shadow: 4px 4px 27px 5px rgba(34, 60, 80, 0.2);
}

textarea {
    height: 200px;
    width: 300px;
}

.alertMessage {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 100%;
    position: absolute;
    left: 0px;
    height: 40px;
    background-color: rgb(191, 220, 221);
    color: white;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    transition: 1s ease-in-out;
} 

#alertMessageText {
    margin: 10px;
}

.heart {
    background-color: transparent;
    border-radius: 100%;
    color: black;
    font-size: 30px;
}

.liked::after {
    content: '\2665';
}

.unliked::after {
    content: '\2661';
}

.hidden {
    display: none;
    transition: 1s ease-in-out;
}