.option {
    margin: 20px;
    img {
        width: 150px;
    }
    b {
        display: block;
        text-align: center;
        margin: auto;
    }
    transition: all .2s ease-in-out;
}

.option:hover {
    transform: scale(1.1);
}

#rock img,
#scissors img {
    width: 120px;
}

.restart {
    position: absolute;
    right: 300px;
    margin-top: 10px;
    cursor: pointer;
    img {
        position: absolute;
        right: 0px;
        top: 5px;
        height: 20px;
        margin-top: 0px;
    }
    span {
        position: absolute;
        font-size: 20px;
        left: 10px;
    }
}

.game-field {
    display: flex;
    width: 600px;
    img { width: 200px;}
}
#user, #ai {
    width: 50%;
}

.user-choice { transform: rotate(90deg); }
.ai-choice { transform: rotate(-90deg); }

.gamer-titles {
    display: flex;
    justify-content: space-around;
}