body {
    margin: 0px;
    padding: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(233, 254, 255);
}

.container {
    width: 50vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1,h2 {
    text-align: center;
}

.option-container {
    display: flex;
    align-items: flex-end;
}

.hidden {
    display: none;
}

