body {
  margin: 0px;
  padding: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #e9feff;
}

.container {
  width: 50vw;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h1, h2 {
  text-align: center;
}

.option-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.hidden {
  display: none;
}

.option {
  margin: 20px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.option img {
  width: 150px;
}

.option b {
  display: block;
  text-align: center;
  margin: auto;
}

.option:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#rock img,
#scissors img {
  width: 120px;
}

.restart {
  position: absolute;
  right: 300px;
  margin-top: 10px;
  cursor: pointer;
}

.restart img {
  position: absolute;
  right: 0px;
  top: 5px;
  height: 20px;
  margin-top: 0px;
}

.restart span {
  position: absolute;
  font-size: 20px;
  left: 10px;
}

.game-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 600px;
}

.game-field img {
  width: 200px;
}

#user, #ai {
  width: 50%;
}

.user-choice {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.ai-choice {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.gamer-titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
/*# sourceMappingURL=style.css.map */