/* Write your styles here */
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    width: 100%;
    text-align: center;
}

.container {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
}

.calc {
    width: 350px;
    height: 400px;
    background: rgb(123,34,195);
    background: linear-gradient(0deg, rgba(123,34,195,0.7147233893557423) 0%, rgba(45,185,253,0.7147233893557423) 100%);
    color: white;
    font-size: 30px;
    font-weight: 200;
    border-collapse: collapse;
    box-shadow: 4px 4px 39px 0px rgba(34, 60, 80, 0.2);
}

td {
    border: 1px solid white;
    text-align: center;
    min-width: 80px;
    transition: all .2s ease-in-out;
}

td:hover {
    color: black;
    filter: opacity(37%);
    box-shadow: 4px 4px 36px 20px rgba(34, 60, 80, 0.2);
}

.screen {
    text-align: right;
    padding: 10px;
}

.operation-btn {
    background-color: white;
    opacity: 0.5;
    color: black;
}

.logs {
    width: 30vw;
    height: 400px;
    box-sizing: border-box;
    padding: 30px;
    overflow-y: scroll;
}

.log {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.circle {
    width: 20px;
    height: 20px;
    border: 2px solid rgb(247, 93, 101);
    border-radius: 50px;
}

.circle-clicked {
    background-color: rgb(247, 93, 101);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.log-text {
    font-size: 20px;
    margin: 0 10px;
}

.cross {
    font-size: 50px;
    color: black;
    position: relative;
    bottom: 25px;
}

.attention-text {
    color: red;
}
