// Write your styles here

$z-index: ("after-element": -10, "handler-text": 10, "footer": -10, "section-banner": 0);

@mixin link-style {
    &:active {
        color: white;
    }

    &:hover {
        color: grey;
    }
}

@mixin button-style {
    width: 120px;
    height: 40px;
    background-color: $light-mark-text;
    color: white;
    border: none;
    &:hover {
        background-color: lightgrey;
    }
    &:active {
        background-color: grey;
        border: none;
    }
}

@mixin marked-text($title) {
    content: $title;
    position: absolute;
    color: transparent;
    background-color: $dark-mark-text;
    z-index: map-get($z-index, "after-element");
}


body {
    background-color: $background-color;
    font-family: 'Source Sans Pro', sans-serif;;
    margin: 0;
    padding: 0;
}

.section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.header {
    height: 70vh;
    background-image: url(../img/m-h-day.jpg);
    background-repeat: no-repeat;
    background-position: right 50% bottom 50%;
    background-size: cover;
    border-bottom-right-radius: 50% 50%;
}

.header-wrap {
    padding: 10px 200px;
    width: 40vw;
}

.header-wrap div:last-child {
    margin-top: 60px;
}

.header_button,
.section_banner_button {
    @include button-style;
}

.landing-logo {
    img {
        float: left;
    }

    p {
        margin: 0;
        font-family: 'Hind', sans-serif;
        font-weight: bold;
        font-size: 25px;
        float: left;
        width: 100px;
        @extend .section;
        
    }

    span {
        margin: -10px;
        font-weight: normal;
        font-size: 10px;
    }
    
}

.header_heading {
    position: relative;
    padding-top: 50px;
    margin-bottom: 20px;
    display: block;
    font-size: 80px;
    font-weight: bold;
    line-height: 90px;
    z-index: map-get($z-index, "handler-text");
}

.header_heading::after {
    @include marked-text('awesome');
    width: 334px;
    height: 50px;
    bottom: 16px;
    right: 300px;
}

.header_text {
    line-height: 200%;
}

.login,
.section_link {
    color: white;
    @include link-style;
}

.section_text {
    margin-bottom: 0px;
    font-size: 30px;
    font-weight: bold;
    &::after {
    @include marked-text('adventure');
    width: 140px;
    height: 35px;
    right: 640px;
    }
}

.section_card {
    padding: 15px;
    margin: 20px;
    width: 60vw;
    height: 30vh;
    background-color: $items-color;
    overflow: hidden;
}

.section_card_img {
    float: left;
    height: 100%;
    border-radius: 5px
}

.section_card_right_container {
    @extend .section;
    margin: auto;
    width: 50%;
}

.section_card_right_container p,
.section_banner_text {
    color: white;
}

.section_card_heading {
    font-weight: bold;
    font-size: 30px;
}

.section_banner {
    padding: 0 100px 20px 100px;
    position: relative;
    @extend .section;
    flex-direction: row;
    justify-content: space-between;
    top: 75px;
    width: 60vw;
    background: $light-mark-text;
    background: linear-gradient(112deg, $light-mark-text 0%, $dark-gradient-text 100%);
    z-index: map-get($z-index, "section-banner");
}

.section_banner_heading {
    margin-bottom: 0px;
    font-size: 30px;
    font-weight: bold;
    &::after {
        @include marked-text('start');
        width: 100px;
        height: 35px;
        right: 850px;
    }
    
}

.footer {
    width: 100vw;
    height: 30vh;
    @extend .section;
    background-color: $items-color;
    z-index: map-get($z-index, "footer");
}

.footer-wrap {
    width: 80vw;
    height: 0vh;
    color:white;
    @extend .section;
    flex-direction: row;
    justify-content: space-between;
}

.footer_text {
    width: 300px;
}
