body {
  background-color: #21232e;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  padding: 0;
}

.section, .landing-logo p, .section_card_right_container, .section_banner, .footer, .footer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header {
  height: 70vh;
  background-image: url(../img/m-h-day.jpg);
  background-repeat: no-repeat;
  background-position: right 50% bottom 50%;
  background-size: cover;
  border-bottom-right-radius: 50% 50%;
}

.header-wrap {
  padding: 10px 200px;
  width: 40vw;
}

.header-wrap div:last-child {
  margin-top: 60px;
}

.header_button,
.section_banner_button {
  width: 120px;
  height: 40px;
  background-color: #e3ac00;
  color: white;
  border: none;
}

.header_button:hover,
.section_banner_button:hover {
  background-color: lightgrey;
}

.header_button:active,
.section_banner_button:active {
  background-color: grey;
  border: none;
}

.landing-logo img {
  float: left;
}

.landing-logo p {
  margin: 0;
  font-family: 'Hind', sans-serif;
  font-weight: bold;
  font-size: 25px;
  float: left;
  width: 100px;
}

.landing-logo span {
  margin: -10px;
  font-weight: normal;
  font-size: 10px;
}

.header_heading {
  position: relative;
  padding-top: 50px;
  margin-bottom: 20px;
  display: block;
  font-size: 80px;
  font-weight: bold;
  line-height: 90px;
  z-index: 10;
}

.header_heading::after {
  content: "awesome";
  position: absolute;
  color: transparent;
  background-color: #ff4e33;
  z-index: -10;
  width: 334px;
  height: 50px;
  bottom: 16px;
  right: 300px;
}

.header_text {
  line-height: 200%;
}

.login,
.section_link {
  color: white;
}

.login:active,
.section_link:active {
  color: white;
}

.login:hover,
.section_link:hover {
  color: grey;
}

.section_text {
  margin-bottom: 0px;
  font-size: 30px;
  font-weight: bold;
}

.section_text::after {
  content: "adventure";
  position: absolute;
  color: transparent;
  background-color: #ff4e33;
  z-index: -10;
  width: 140px;
  height: 35px;
  right: 640px;
}

.section_card {
  padding: 15px;
  margin: 20px;
  width: 60vw;
  height: 30vh;
  background-color: #3b3f50;
  overflow: hidden;
}

.section_card_img {
  float: left;
  height: 100%;
  border-radius: 5px;
}

.section_card_right_container {
  margin: auto;
  width: 50%;
}

.section_card_right_container p,
.section_banner_text {
  color: white;
}

.section_card_heading {
  font-weight: bold;
  font-size: 30px;
}

.section_banner {
  padding: 0 100px 20px 100px;
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 75px;
  width: 60vw;
  background: #e3ac00;
  background: linear-gradient(112deg, #e3ac00 0%, #942f51 100%);
  z-index: 0;
}

.section_banner_heading {
  margin-bottom: 0px;
  font-size: 30px;
  font-weight: bold;
}

.section_banner_heading::after {
  content: "start";
  position: absolute;
  color: transparent;
  background-color: #ff4e33;
  z-index: -10;
  width: 100px;
  height: 35px;
  right: 850px;
}

.footer {
  width: 100vw;
  height: 30vh;
  background-color: #3b3f50;
  z-index: -10;
}

.footer-wrap {
  width: 80vw;
  height: 0vh;
  color: white;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer_text {
  width: 300px;
}
/*# sourceMappingURL=style2.css.map */