:root {
  --primary-color: #f2c744;
  --light: #f4f6f9;
  --dark: #000;
  --primary-font: 'Shadows Into Light', cursive;
  --secondary-font: 'Dancing Script', cursive;
}

.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr  1fr;
  grid-auto-rows: 200px 750px 200px;
  grid-template-areas: 
  "header header header"
  "aside aside article"
  "footer footer footer";
  
  box-sizing: border-box;
}

.container > * {
  -webkit-box-shadow: 5px 4px 48px -17px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 5px 4px 48px -17px rgba(34, 60, 80, 0.2);
  box-shadow: 5px 4px 48px -17px rgba(34, 60, 80, 0.2);
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
}

header {
  grid-area: header;
  display: grid;
  justify-content: center;
  text-align: center;

}

.header-logo {
  margin: auto;
}

.author-job {
  margin-top: 0px;
}

aside {
  grid-area: aside;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: calc(100%/3);
  gap: 15px;
  overflow: hidden;
  padding: 10px;
}

aside img {
  width: 250px;
  gap: 20px;
  margin: auto;
  transition: all .2s ease-in-out;
}

aside img:hover {
  transform: scale(1.1);
}

.grid-1 {
  grid-row-start: 1;
  grid-column-start: 1;
  margin-bottom: 30px;
}

.grid-2 {
  grid-row-start: 1;
  grid-column-start: 2;
  grid-row-end: 2;
  margin-top: 20px;
}

.grid-3 {
  grid-row-start: 1;
  grid-column-start: 3;
}

.grid-4 {
  grid-row-start: 2;
  grid-column-start: 1;
  grid-row-end: 3;
}

.grid-5 {
  grid-row-start: 3;
  grid-column-start: 2;
}

.grid-6 {
  grid-row-start: 2;
  grid-column-start: 3;
  grid-row-end: 3;
}

.grid-8 {
  height: 250px;
  grid-row-start: 3;
  grid-column-start: 2;
}

article {
  grid-area: article;
  display: grid;
  justify-content: center;
  text-align: center;
}

.avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-image: url(images/avatar.jpg);
  background-size: cover;
  background-position: center;
  margin: auto;
}

footer {
  grid-area: footer;
  display: grid;
  justify-content: center;
  text-align: center;

}

.footer-logo {
  width: 70px;
  margin: auto;
}